@model ICollection<CategoryIndex>

<label>
    Add replacement parts&nbsp;&nbsp;
</label>
@CustomHelpers.ShowHideElement("showHideCaregoriesAndParts", true)

<div class="row categories-parts-container">
    <div class="col-md-4">
        <table id="categories" class="table table-bordered table-condensed">
            <tr>
                <th class="text-center">Category</th>
            </tr>
            @foreach (var category in Model)
            {
                <tr>
                    <td>
                        <button id="@category.Id" class="categoryButton btn btn-block btn-default btn-sm">
                            @Html.DisplayFor(m => category.Name)
                        </button>
                    </td>
                </tr>
            }
        </table>

    </div>
    <div class="col-md-8 parts-container">
        @Html.Partial("_PartsInEditRepairDocumentAdd", new List<PartInRepairDocumentDetails>())
    </div>
</div>
