<!-- Modal -->
@{
    string heading = "Delete repair document";
}
<div class="modal fade" id="DeleteDocument" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="DeleteDocumentForm" method="post" action="/RepairDocuments/Delete">
                <div class="modal-header">
                    <h4 class="modal-title text-center text-warning" id="myModalLabel">@heading</h4>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <input id="docId" type="hidden" name="id" value="@ViewData["id"]" />
                    Are you sure to delete repair document № <span id="docFormatedId">@ViewData["formatedId"]</span> ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-danger" value="Delete"/>
                </div>
            </form>
        </div>
    </div>
</div>
