@{
    string message = ViewBag.Message as string;
    string cssClass = ViewBag.CssClass as string;
}

<div id="messageContainer" style="display:none">
    <h4 class="text-center"><strong id="message" class="@cssClass">@message</strong></h4>
</div>
