body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

/*#region Custom Rules */

@media (max-width: 1200px) { /* media for changing toggle menu from 768px to 1200px */
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

.footer-text {
    color: aqua;
    font-family: Rockwell, Book Antiqua;
}

.vertical-center {
    vertical-align: middle!important;
}

td {
    vertical-align: middle!important;
}

table a:not(.btn),
.table a:not(.btn) {
    font-weight: bold;
    text-decoration: none;
}

    table a:not(.btn):hover,
    .table a:not(.btn):hover {
        text-decoration: underline;
    }

    table a.delete:hover, a.delete:focus{
        color:#e74c3c;
    }
.pagination-container {
    text-align: center;
}

.pagination {
    margin: 0;
}

dt, dd {
    padding-top: 3px;
    font-weight: bold;
}

.btn-sm {
    padding: 1px 2px;
}

.discontinued {
    background-color: #900000;
}

.admin{
    background-color:#3498db;
}

.employee{
    background-color:#303030;
}

.show-hide-link, 
.show-hide-link:hover, 
.show-hide-link:focus {
    font-size: small;
    text-decoration: none;
    color: #fff;
}

#messageContainer{
    display:none;
    background-color: black;
    border:2px solid green;
    height:60px;
    padding-top:5px;
    margin-top:20px;
}

.dropdown-menu{
    background-color:#009871;
}
.dropdown-menu>li:hover{
    color:#0ce3ac;
}
.dropdown-menu>li>a{
    color:white;
}

.navbar-brand{
    font-weight:bolder;
}

#searchParts th{
    vertical-align:bottom;
    text-align:center
}

.btn:focus {
  outline: none;
}

/*#region Addons */

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

    /* style icon */
    .inner-addon .glyphicon {
        position: absolute;
        padding: 12px;
        pointer-events: none;
        color: #494646;
    }

/* align icon */
.left-addon .glyphicon {
    left: 15px;
}

.right-addon .glyphicon {
    right: 0;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

/*glyphicon fix*/

.glyphicon-bell:before {
    content: "🔔";
}

.glyphicon-bookmark:before {
    content: "🔖";
}

.glyphicon-briefcase:before {
    content: "💼";
}

.glyphicon-calendar:before {
    content: "📅";
}

.glyphicon-camera:before {
    content: "📷";
}

.glyphicon-fire:before {
    content: "🔥";
}

.glyphicon-lock:before {
    content: "🔒";
}

.glyphicon-paperclip:before {
    content: "📎";
}

.glyphicon-pushpin:before {
    content: "📌";
}

.glyphicon-wrench:before {
    content: "🔧";
}

/*#endregion */

/*#endregion */
